/*  */
.glassmorphism{
    background: url("https://cdn.pixabay.com/photo/2013/07/25/13/01/stones-167089_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*  */